<!DOCTYPE html>
<html lang="en" ng-app="CouchApp">
<head>
  <title>CornerCouch guestbook sample</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
</head>
<body style="padding-top: 10px">
   <div class="container" ng-controller="ctrlGBook1">
      <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
               <a class="navbar-brand" href="#">Stuff</a>
            </div>
            <div class="navbar-collapse collapse">
               <ul class="nav navbar-nav">
                  <li><a ng-show="showInfo" data-toggle="modal" href="#infoModal" data-target="#infoModal">System Info</a></li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
                  <li><a ng-show="showInfo" ng-click="userLogout()" href="#">Logout</a></li>
                  <li><a ng-show="!showInfo" data-toggle="modal" href="#loginModal" data-target="#loginModal">Login</a></li>
               </ul>
            </div>
      </div>
      <div class="alert alert-error" ng-show="errordata">{{ errordata | json }}</div>
      <div id="loginModal" my-modal class="modal fade">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                  <h4>Login form</h4>
               </div>
               <div class="modal-body">
                  <form class='form-signin' name='loginForm' ng-submit="submitLogin()">
                     <div class="form-group">
                        <label for="loginformUser">Login Name</label>
                        <input id="loginformUser" type='text' name='user' ng-model='loginUser' class="form-control" placeholder="Login Name" required>
                     </div>
                     <div class="form-group">
                        <label for="loginformPass">Password</label>
                        <input id="loginformPass" type='password' name='pass' ng-model='loginPass' class="form-control" placeholder="Password" required>
                     </div>
                     <div>
                        <button class="btn" data-dismiss="modal">Close</button>
                        <button class='btn btn-primary' type="submit">Login</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <div id="infoModal" class="modal fade">
         <div class="modal-dialog">
            <div class-"modal-content" style="background-color: #577492;">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                  <h4>CouchDB Connection</h4>
               </div>
               <div class="modal-body">
                  <div>
                     <br><br>
                     <pre>server.userCtx = {{ server.userCtx | json }}</pre>
                     <pre>server.info = {{ server.info | json }}</pre>
                     <pre>server.userDoc = {{ server.userDoc | json }}</pre>
                     <pre>gbookdb.info = {{ gbookdb.info | json }}</pre>
                  </div>
               </div>
            </div>
         </div>
      </div>
    <h3>Guest book entries <small>(click for detail)</small></h3>
    <table class="table table-hover">
      <thead>
         <tr><th>UTC</th><th>Subject</th><th>By</th></tr>
      </thead>
      <tbody>
         <tr ng-repeat="row in gbookdb.rows" ng-click="rowClick($index)">
            <td class="span2">{{ row.key }}</td>
            <td class="span6">{{ row.doc.subject }}</td>
            <td class="span2">{{ row.doc.alias }}</td>
        </tr>
      </tbody>
    </table>
    <ul class="pager">
    <li><a ng-class="{muted: gbookdb.queryActive}" ng-click="prevClick()" ng-show="gbookdb.prevRows.length">Newer</a></li>
    <li><a ng-class="{muted: gbookdb.queryActive}"  ng-click="nextClick()" ng-show="gbookdb.nextRow">Older</a></li>
    <li><a ng-class="{muted: gbookdb.queryActive}"  ng-click="moreClick()" ng-show="gbookdb.nextRow">More...</a></li>
    </ul>
    <div class="alert alert-info" ng-show="detail._id">
        <div class="navbar" ng-show="detail._attachments">
        <div class="navbar-inner">
            <a class="brand">Attachments:</a>
            <ul class="nav" ng-repeat="(name,info) in detail._attachments">
                <li class="divider-vertical"></li>
                <li><a href="{{ detail.attachUri(name) }}" target="_blank">{{ name }}</a></li>
                <li><i class="icon-remove" ng-click="detachClick(name)"></i></li>
            </ul>
        </div></div>
        <div class="btn btn-primary span2" style="float: right" ng-click="removeClick()">Remove</div>
        <h4>{{detail.alias}} wrote at {{detail.utc}} UTC</h4>
        <p>_id = "{{detail._id}}", _rev ="{{detail._rev}}"</p>
        <form name="formDetail">
        <div class="btn btn-primary span2" style="float: right" ng-click="updateClick()" ng-show="formDetail.$dirty">Update</div>
        <input name="subject" type="text" class="span9" ng-model="detail.subject" required>
        <textarea name="body" rows="5" class="span9" ng-model="detail.body"></textarea>
        <input type="file" id="upload" class="span9" multiple>
        <div class="btn btn-primary span2" style="float: right" ng-click="attachClick()" ng-hide="formDetail.$dirty">Attach</div>
        </form>
    </div>
    <form name="formNewEntry" class="offset1 span9" ng-submit="submitEntry()">
    <fieldset>
        <legend>New guestbook entry</legend>
        <label>An alias of your own choice (required)</label>
        <input type="text" class="span4" ng-model="newentry.alias" required>
        <label>Your mail address (not shown, but available via FireBug)</label>
        <input type="email" class="span4" ng-model="newentry.email">
        <label>Your subject line (required)</label>
        <input type="text" class="span9" ng-model="newentry.subject" required>
        <label>Your message</label>
        <textarea rows="5" class="span9" ng-model="newentry.body"></textarea>
    </fieldset>
    <label>Submit your entry here</label>
    <button class="submit" ng-disabled="formNewEntry.$invalid">Submit</button>
    </form>
</div>
<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type='text/javascript' src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
<script src="js/angular-cornercouch.js"></script>
<script src="js/app.js" type="application/javascript"></script>
</body>
</html>
